/* .navbartest1 .Nav{
    background-color: red !important; 
} */
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kreon&display=swap');
.navbartest1 .navbartest2 {
  /* background: rgba(0, 0, 0, 0.2) !important; */
  /* background: transparent !important; */
  /* background: aliceblue !important; */
  position: absolute !important;
  /* background: rgba(209, 205, 205, 0.9) !important; */

  /* background:linear-gradient(45deg, rgba(4, 4, 255, 0.25) 20%,#00005f 15%,#a10149 12%,#670052 11%) ; */
  /* opacity: 1; */
   margin-left: 150px !important; 
  display: flex !important;
  background: rgba(255,255,255,0.2) !important;
}
.navbartest1 .nav-link {
  margin-right: 30px !important ;
  font-family: 'Righteous', cursive;
  /* background-color:red; */
  
}
.title1 {
  font-family: "Fredoka One", cursive !important;
  font-size: 30px;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  position: fixed;
}

.content {
  text-align: center;
  position: absolute;
  margin: auto;
  width: 100%;
  height: 100%;
  top: 40vh;
  font-family: "Rubik Moonrocks", cursive !important;
  color: white;
  z-index: -1;
}
.content h6{
   
    text-align: center;
    align-items: center;
     
}
h1 {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 25px;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 44px;
  overflow: hidden;
  transition: 0.2s;
}

h1:hover {
  color: #255784;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  opacity: 0.8;
}

.newButton {
    width: 138px;
    height: 40px;
    color:black !important;
    border-color:white !important ;

    border:2px solid white !important;
    font-family: 'Righteous', cursive !important;
 }

.newButton .gamericon {
    margin-right: 12px !important;
    width: 25px;
    height: 25px;
    margin-bottom: 5px;
    /* justify-content: space-between !important ; */
}
.dropdown-item{
    font-family: 'Kreon', serif;

}
.icontitle{
    margin-right: 10px;
    width: 25px;
    height: 25px;
}

.navigationIcon {
    color: green;
    margin-right: 7px;
    width: 20px;
    height: 20px;
}
.BsFillPeopleFill{
    color: purple;
    margin-right: 7px;
    width: 20px;
    height: 20px;

}
.FiSettings{
    color: orangered;
    margin-right: 7px;
    width: 20px;
    height: 20px;
}
.SiGrunt{
    color: blueviolet;
    margin-right: 7px;
    width: 20px;
    height: 20px;
}
.MdContactMail {
    color: mediumaquamarine;
    margin-right: 7px;
    width: 20px;
    height: 20px;
}
.BiCopyright{
    color: darkgrey;
    margin-right: 7px;
    width: 20px;
    height: 20px;
}
.fi{
    
   display: flex;
   flex-direction: row;
   
    width: 25px;
    height: 25px;
}